<ion-view view-title="Início">
    <ion-nav-buttons side="left">
        <button class="button button-stable" ng-click="logout()">
            Sair
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-stable" href="#/cliente/novo">
            Adicionar Cliente
        </a>
    </ion-nav-buttons>
    <ion-content padding="true">
        <ul class="list">
            <li class="item item-button-right" ng-repeat="cliente in clientes">
                {{cliente.nome}}
                <a class="button button-positive" style="margin-right: 45px;" href="#/cliente/{{cliente.id}}">
                    <i class="icon ion-edit"></i>
                </a>
                <button class="button button-assertive" ng-click="removerCliente(cliente.id)">
                    <i class="icon ion-ios-trash"></i>
                </button>
            </li>
        </ul>
    </ion-content>
</ion-view>