<ion-view view-title="Cadastrar Nova Loja">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Razao Social</span>
                <input type="text" ng-model="cliente.razaosocial">
            </label>
            <label class="item item-input">
                <span class="input-label">Nome Fantasia</span>
                <input type="text" ng-model="cliente.nomefantasia">
            </label>
            <label class="item item-input">
                <span class="input-label">CNPJ</span>
                <input type="number" ng-model="cliente.cnpj">
            </label>
            <label class="item item-input">
                <span class="input-label">CEP</span>
                <input type="number" ng-model="cliente.cep">
            </label>
            <label class="item item-input">
                <span class="input-label">Rua</span>
                <input type="text" ng-model="cliente.rua">
            </label>
            <label class="item item-input">
                <span class="input-label">Número</span>
                <input type="text" ng-model="cliente.numero">
            </label>
            <label class="item item-input">
                <span class="input-label">Complemento</span>
                <input type="text" ng-model="cliente.complemento">
            </label>
            <label class="item item-input">
                <span class="input-label">Bairro</span>
                <input type="text" ng-model="cliente.bairro">
            </label>
            <label class="item item-input">
                <span class="input-label">Cidade</span>
                <input type="text" ng-model="cliente.cidade">
            </label>
            <label class="item item-input">
                <span class="input-label">UF</span>
                <input type="text" ng-model="cliente.uf">
            </label>
            <label class="item item-input">
                <span class="input-label">Telefone</span>
                <input type="tel" ng-model="cliente.telefone">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" ng-model="cliente.email">
            </label>
            <label class="item item-input">
                <span class="input-label">Site</span>
                <input type="url" ng-model="cliente.site">
            </label>
            <label class="item item-input">
                <span class="input-label">Responsável</span>
                <input type="text" ng-model="cliente.responsavel">
            </label>
            <label class="item item-input">
                <span class="input-label">Telefone</span>
                <input type="number" ng-model="cliente.telefoneresponsavel">
            </label>
            <label class="item item-input">
                <span class="input-label">% PubClub</span>
                <input type="number" ng-model="cliente.comissao">
            </label>
            <label class="item item-input">
                <span class="input-label">Código Abrasel</span>
                <input type="text" ng-model="cliente.abrasel">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-balanced" ng-click="signIn(user)">
                Salvar
            </button>
        </div>
    </ion-content>
</ion-view>