<ion-view view-title="{{title}}">
    <ion-nav-buttons side="right">
        <button class="button button-stable" ng-click="logout()">
            Sair
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="card" ng-show="error">
            <div class="item item-divider" style="background-color: orangered; color: white;">
                Erro
            </div>
            <div class="item item-text-wrap">
                {{error}}
            </div>
        </div>
        <div class="list">
            <label class="item item-input">
                <input type="text" ng-model="cliente.nome" placeholder="Nome">
            </label>
            <label class="item item-input">
                <input type="text" ng-model="cliente.contato" placeholder="Contato">
            </label>
            <label class="item item-input">
                <input type="tel" ng-model="cliente.telefone" placeholder="Telefone">
            </label>
            <label class="item item-input">
                <input type="email" ng-model="cliente.email" placeholder="Email">
            </label>
            <label class="item item-input">
                <input type="text" ng-model="cliente.username" placeholder="Usuario">
            </label>
            <label class="item item-input">
                <input type="password" ng-model="cliente.password" placeholder="Senha">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-if="showButtonNovo" ng-click="salvarNovoCliente(cliente)">
                Salvar Novo Cliente
            </button>
            <button class="button button-block button-positive" ng-if="showButtonEditar" ng-click="atualizarCliente(cliente)">
                Salvar Alterações
            </button>
        </div>
    </ion-content>
</ion-view>