<ion-view view-title="PubClub">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" ng-model="user.username" placeholder="Usuário">
            </label>
            <label class="item item-input">
                <input type="password" ng-model="user.password" placeholder="Senha">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="signIn(user)">
                Entrar
            </button>
        </div>
    </ion-content>
</ion-view>