<ion-tabs class="tabs-icon-top tabs-positive" ng-if='true'>
    <ion-tab title="Home" icon="ion-home" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Sign-Out" icon="ion-log-out" ng-click="#/logout">
    </ion-tab>
</ion-tabs>